<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AzureApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="project">
                <span class="oi oi-box" aria-hidden="true"></span> Projects
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resource">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Resources
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="oi oi-browser" aria-hidden="true"></span> Search Rates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="service">
                <span class="oi oi-wrench" aria-hidden="true"></span> Services
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="defaultunit">
                <span class="oi oi-crop" aria-hidden="true"></span> Default Units
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="measuringunit">
                <span class="oi oi-crop" aria-hidden="true"></span> Measuring Units
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="location">
                <span class="oi oi-location" aria-hidden="true"></span> Locations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="currency">
                <span class="oi oi-euro" aria-hidden="true"></span> Currencies
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
