@page "/service/delete/{id}"
@using AzureApp.Shared
@inject NavigationManager NavigationManager
@inject HttpClient Http

<PageTitle>Services</PageTitle>

<h1>Services</h1>

<p>Delete the service.</p>
<p>
    <a href="/service" class="btn btn-light" role="button">
        <span class="oi oi-arrow-left" aria-hidden="true"></span> Cancel
    </a>
</p>

@if (@model is not null)
{
    <EditForm EditContext="@editContext" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3">
            <label for="Name" class="form-label">Service</label>
            <InputText @bind-Value="model.Name" class="form-control" disabled="true" />
            <ValidationMessage For="@(() => model.Name)" />
        </div>
        <div class="mb-3">
            <label for="Category" class="form-label">Category</label>
            <InputText @bind-Value="model.Category" class="form-control" disabled="true" />
            <ValidationMessage For="@(() => model.Category)" />
        </div>
        <div class="mb-3">
            <label for="Enabled" class="form-label">Enabled</label>
            <InputCheckbox @bind-Value="model.Enabled" class="form-control" disabled="true" />
            <ValidationMessage For="@(() => model.Enabled)" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Delete</button>
            <button class="btn btn-light" @onclick="CancelItem">Cancel</button>
        </div>
    </EditForm>
}

@code {
    private EditContext? editContext { get; set; }
    private ValidationMessageStore? messageStore { get; set; }
    private SetupService? model { get; set; }

    [Parameter]
    public string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        model = await Http.GetFromJsonAsync<SetupService>($"{nameof(SetupService)}/{Id}");
        if (model is null)
        {
            Id = string.Empty;
            model = new();
        }
        editContext = new(model);
        messageStore = new(editContext);
    }

    private async Task HandleSubmit()
    {
        if (model is null || editContext is null)
            return;

        var response = await Http.DeleteAsync($"{nameof(SetupService)}/{Id}");
        if (response.IsSuccessStatusCode)
        { 
            NavigationManager.NavigateTo("/service");
            return;
        }

        if (messageStore is not null && editContext is not null)
        {
            var errors = await response.Content.ReadFromJsonAsync<Dictionary<string, List<string>>>() ?? new();
            if (errors.Any())
            {
                foreach (var keyValuePair in errors)
                {
                    foreach(var msg in keyValuePair.Value) 
                    {
                        messageStore.Add(editContext.Field(keyValuePair.Key), msg);
                    }
                }
            }

            editContext.Validate();
        }

        StateHasChanged();
    }

    private void CancelItem()
    {
        NavigationManager.NavigateTo("/service");
    }
}
