@page "/defaultunit"
@using AzureApp.Shared
@inject HttpClient Http

<PageTitle>Default Units</PageTitle>

<h1>Default Units</h1>

<p>The list of available default measuring units</p>

<p>
    <a href="/defaultunit/add" class="btn btn-primary" role="button">
        <span class="oi oi-plus" aria-hidden="true"></span> Create
    </a>
</p>

@if (Model is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Azure Unit of Measure</th>
                <th>Measuring Unit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AzureMeasure</td>
                    <td>@item.SetupMeasureUnit.Name</td>
                    <td>
                        <a href="/defaultunit/edit/@item.Id" class="btn btn-outline-dark" role="button">Edit</a>
                        <a href="/defaultunit/delete/@item.Id" class="btn btn-outline-dark" role="button">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    public SetupDefaultUnit[]? Model;

    protected override async Task OnInitializedAsync()
    {
        Model = await Http.GetFromJsonAsync<SetupDefaultUnit[]>(nameof(SetupDefaultUnit));
    }
}
