@page "/location"
@using AzureApp.Shared
@inject HttpClient Http

<PageTitle>Locations</PageTitle>

<h1>Locations</h1>

<p>The list of available Locations</p>

<p>
    <a href="/location/add" class="btn btn-primary" role="button">
        <span class="oi oi-plus" aria-hidden="true"></span> Create
    </a>
</p>

@if (Model is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ShortName</td>
                    <td>
                        <a href="/location/edit/@item.Name" class="btn btn-outline-dark" role="button">Edit</a>
                        <a href="/location/delete/@item.Name" class="btn btn-outline-dark" role="button">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    public SetupLocation[]? Model;

    protected override async Task OnInitializedAsync()
    {
        Model = await Http.GetFromJsonAsync<SetupLocation[]>(nameof(SetupLocation));
    }
}
